@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.container {
    width: 960px;
    margin: 0 auto;
}
h1 {
    font-weight: 100;
    font-size: 3rem;
    margin: 10px 0px;
}
div#description {
    margin: 0px 75px;
    font-size: 0.8rem;
    font-weight: 500;
}
div#top_buttons {
    text-align: right;
}
.btn {
    color: #ffffff;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    display: inline-block;
    &:hover {
        opacity: 0.8;
    }
    &.btn_orange {
        background-color: #e0b30d;
        margin: 10px;
    }
    &.btn_green {
        background-color: #099407;
        margin: 0px 10px 10px 0px;
    }
    &.btn_blue {
        background-color: #0d75e0;
        margin: 0px 10px 10px 0px;
    }
}
ul#columns {
    list-style-type: none;
    li {
        padding-top: 30px;
        padding-bottom: 5px;
        position: relative;
        width: 240px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10px;
        &.yellow-ghost {
            background-color: rgba(255, 235, 0, 0.15);
        }
        &:hover {
            background-color: #f5f5f5;
            delete {
                opacity: 1;
            }
        }
        move {
            display: block;
            cursor: move;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHklEQVQYlWNkYGD4zwABjFAaK5+JYcDACHQjAwMDAPkNCQecM1eoAAAAAElFTkSuQmCC');
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.4;
        }
        delete {
            opacity: 0.6;
            display: inline-block;
            cursor: pointer;
            line-height: 20px;
            font-size: 0.7rem;
            color: #ce0101;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
        textarea {
            resize: none;
            height: 170px;
            width: 220px;
            line-height: 17px;
        }
    }
}
div#count_results {
    padding: 10px 20px;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: #f5f5f5;
    margin: 10px 5px;
    border-radius: 10px;
}
textarea#results {
    width: 100%;
    min-height: 300px;
    margin-bottom: 30px;
    line-height: 1.1rem;
    padding: 5px 10px;
    box-sizing: border-box;
}